<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.audio.converter"
        version="0.1.0">
  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0" />
  </engines>

  <asset src="www/AudioConverter.js" target="js/AudioConverter.js" />

  <js-module src="www/AudioConverter.js" name="AudioConverter">
    <clobbers target="cordova.plugins.AudioConverter" />
  </js-module>

  <platform name="android">
    <hook type="before_compile" src="scripts/androidBeforeCompile.js" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AudioConverter">
        <param name="android-package" value="com.audio.converter.AudioConverter" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>

    <source-file src="src/android/App.java" target-dir="src/com/audio/converter/" />
    <source-file src="src/android/AudioConverter.java" target-dir="src/com/audio/converter/" />
  </platform>
  
  <framework src="com.github.adrielcafe:AndroidAudioConverter:0.0.8" />
</plugin>